.info{
    width:15vw;
    height:100vh;
    background-color:#23233E;
    padding-top:5em;
}

.info-sft-icon-conteinr{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-sft-icon{
    font-family: 'Pretendard';
    font-weight: 700;
    color:white;
    font-size:1.33em;
    text-align: center;
    margin-bottom:1em;
}

.info-sft-icon img{
    width:1.33em;
    margin-right: 0.5em;
}



.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info-container div{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:0 1vw 0 1vw;
    font-size:1em;
    flex-basis: 3vw;
    width:70%;
    color:white;
    font-family: 'Pretendard';
    font-weight: 500;

    margin-top:1vh;
}

.info-container div:hover{
    background-color: #36385A ;
    border-radius: 8px;
}

.info-stf-icon{
    font-weight: 700;
}

.info-container div img{
    margin-right:10px;
}

.info-container img{
    width:1.33em;
    margin-right: 1em;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}