<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
</head>
<body>
    <py-env>
        - matplotlib
        - numpy
    </py-env>
    <div id = "plots"></div>

    <py-script output="plots">
        import matplotlib
        import matplotlib.pyplot as plt
        import numpy as np
        
        t = np.arange(0.0, 2.0, 0.01)
        s = 1 + np.sin(2*np.pi * t)
        fig, ax = plt.subplots()
        ax.plot(t, s)

        ax.set(xlabel='time (s)', ylabel='voltage (mV)',
                title='test')
        ax.grid()
        
        fig
        </py-script>
</body>
</html>